node_modules
.DS_Store
.project
.settings
.benchmarks.rb.swp
.checkstyle
*.log
*.tgz
/src/aria/jsunit/robot-applet*

/build/target/
/test/target/
/test/logs/
/src/aria/bootstrap.js
/src/aria/bootstrap-node.js
/src/aria/noderError/
/src/aria/core/useragent/ua-parser.js
/src/aria/utils/FrameATLoaderHTML.html
