node_modules
.DS_Store
.project
.settings
.benchmarks.rb.swp
.checkstyle
*.log
*.tgz
/src/aria/jsunit/robot-applet*

/build/target/
/src/aria/bootstrap.js
/src/aria/bootstrap-node.js
/src/aria/noderError/
/test/nodeTestResources/.gitignore
