node_modules
.DS_Store
.project
.settings
.benchmarks.rb.swp
.checkstyle
*.log

# npmignore only below
.npmignore
/.travis.yml
/test/
/hooks/
/scripts/
/build/config/
/build/grunt-config/
/build/grunt-tasks/
/build/target/bootstrap/
/build/templates/
/build/grunt-cli.js
/Gruntfile.js
