.DS_Store
.project
.settings
.benchmarks.rb.swp
.checkstyle
*.log
*.tgz
/src/aria/jsunit/robot-applet*

# npmignore only below
.npmignore
/.travis.yml
/test/
/hooks/
/scripts/
/build/config/jshint.json
/build/grunt-config/config-atpackager-bootstrap-skin.js
/build/grunt-config/config-atpackager-bootstrap.js
/build/grunt-config/config-checkStyle.js
/build/grunt-config/config-bootstrap-packaging.js
/build/grunt-config/config-extra.js
/build/grunt-tasks/task-hooks.js
/build/grunt-cli.js
/Gruntfile.js
