language: node_js
node_js:
  - 0.8
before_install:
  - npm install -g npm@1.4.21
  - npm --version
  - npm config set ca ""
  - npm config set spin false
  - phantomjs --version
notifications:
  email:
    - build@ariatemplates.com
